/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #ff6600;
    text-align: center;
}

#searchInput {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff5500;
}

#results div {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    background-color: white;
}

#results img {
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}

#homeLink {
    text-decoration: none; /* Ei alaviivaa oletuksena */
    color: inherit; /* Perii tekstin värin */
}

#homeLink:hover {
    text-decoration: none; /* Ei alaviivaa hover-tilassa */
}
